Мы создаем создаем бот в тг для авито с использованием Api авито для сбора статистики по кабинетам и отправки уведомлений о балансе.
Когда пишешь код будь на 100% уверен что он работает, не содержит ошибок и ничего не сломается.
